// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@indent: 1.5em;
@casefile-display-background-color: @tool-panel-background-color;
@casefile-insertion-marker-color: contrast(@casefile-display-background-color, #101010, #c0c0c0);
@casefile-sharing-background-color: @tool-panel-background-color;

.casefile {
}

.casefile textarea.description {
  width: 100%;
  max-width: 100%;
}

.casefile .actions {
  text-align: right;
}

.casefile button:focus {
  font-weight: bold;
}

.casefile .tagged-code, casefile-viewer .tagged-code {
  font-family: monospace;
  font-weight: bold;
}

casefile-viewer .bookmark {
  .bookmark-body {
    cursor: default;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    border-width: 1px;
    border-radius: 3px;
    padding: 2px 0;
    user-select: none;
  }
  
  .bookmark-body:hover {
    background-color: mix(@casefile-display-background-color, @background-color-selected, 80%);
  }
  
  .drag-handle {
    cursor: move;
    margin: auto 0;
    text-align: center;
    flex-grow: 0;
    width: @indent;
  }
  
  * {
    flex-grow: 1;
  }
}

casefile-viewer {
  background-color: @casefile-display-background-color;
  
  .bookmarks-ui {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .bookmarks {
      flex: auto;
      overflow-y: scroll;
    }
    
    .insertion-marker {
      height: 6px;
      background-color: fade(@casefile-insertion-marker-color, 30%);
      border-radius: 3px;
    }
  }
  
  .casefile-hidden {
    display: none;
  }
  
  .insert-before {
    border-top: darkgray solid 3px;
  }
  
  .tail-insertion {
    height: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    
    .indent-align {
      width: @indent;
      flex-grow: 0;
    }
    
    * {
      flex-grow: 1;
    }
  }
}

casefile-viewer .child-marks {
  padding-left: @indent;
}

casefile-viewer .trash {
  // Based on https://stackoverflow.com/a/20276358/160072
  //position: absolute;
  //bottom: 0%;
  height: 2.5em;
  width: 100%;
  
  display: flex;
  align-items: center;
  
  div {
    margin: auto;
  }
}

.tooltip .casefile-tooltip code {
  background-color: @app-background-color;
}

.inline-control-group .inline-block {
  vertical-align: bottom;
}

casefile-sharing {
  background-color: @casefile-sharing-background-color;
  
  atom-panel {
    margin: 2px;
    border: 1px solid @tool-panel-border-color;
    padding: 1em;
    height: 100%;
    overflow-y: auto;
  }
  
  .section {
    margin-bottom: 3em;
  }
  
  .casefile-sharing-git-remote {
    min-width: 10em;
  }
  
  .known-casefiles-ui {
    width: 35em;
  }
  
  .known-casefiles-list {
    background-color: @inset-panel-background-color;
    border: 1px solid @inset-panel-border-color;
    height: 30em;
    position: relative; /* This contains the list-tree selection */
    overflow-y: auto;
  }
  
  .known-casefiles-buttons {
    margin-top: 10px;
    text-align: right;
  }
}
